Redirect /Header.html http://gnat-glade.sourceforge.net/pmwiki.php
Redirect /index.html http://gnat-glade.sourceforge.net/pmwiki.php
Redirect /sitemap.rss http://gnat-glade.sourceforge.net/index.php/Site/AllRecentChanges?action=sitemap
DirectoryIndex index.php
ErrorDocument 404 http://gnat-glade.sourceforge.net/pmwiki.php?n=Error.404
ErrorDocument 500 http://gnat-glade.sourceforge.net/pmwiki.php?n=Error.500
ErrorDocument 401 http://gnat-glade.sourceforge.net/pmwiki.php?n=Error.401
Order Deny,Allow
Allow from all
Options -Indexes
# vim: textwidth=0 nowrap tabstop=8 shiftwidth=4 softtabstop=4 expandtab
# vim: filetype=apache encoding=utf-8 fileformat=unix foldmethod=marker nospell
