/*
 * RCS, PVCS Daten:
 *
 *     $Archive$
 *     $Workfile:   MK-SAR.ads  $
 *     $RCSfile$
 *     $Source$
 *
 *     $Author$
 *     $Locker$
 *
 *     $Revision$
 *     $Date$
 *     $Modtime:   Dec 18 2002 08:25:56  $
 *     $State$
 *     $Name$
 *
 *  $Id$
 *  $Header$
 */

@page
	{
	margin-left:	2.00cm;
	margin-right:	1.50cm;
	margin-top:		1.25cm;
	margin-bottom:	1.25cm;
	}

BODY
	{
	font-size:			10pt;
	font-family:		"bitstream vera serif";
	background-color:	white;
	}

H1, H2, H3, H4, H5, H6, DT, TH, TH P
	{
	font-variant:	normal;
	font-family:	"bitstream vera sans";
	font-style:		normal;
	font-weight:	bold;
	text-align:		justify;
	background:		transparent;
	color:			SlateBlue;
	margin-top:		0.125cm;
	margin-bottom:	0.125cm;
	padding-top:	0.125cm;
	padding-bottom:	0.125cm;
	}

P, DIV, ADDRESS, BLOCKQUOTE, DD, TD, TD P, CITE, VAR, DFN
	{
	font-family:		"bitstream vera serif";
	font-size:			10pt;
	font-variant:		normal;
	font-style:			normal;
	font-weight:		medium;
	text-align:			justify;
	background:			transparent;
	}

P, DIV
	{
	color:				black;
	page-break-before:	auto;
	page-break-after:	auto;
	widows:				2;
	orphans:			2;
	margin-top:			0.125cm;
	margin-bottom:		0.125cm;
	padding-top:		0.125cm;
	padding-bottom:		0.125cm;
	}

PRE, PRE.Example, LISTING, XMP, CODE, KBD, SAMP, TT
	{
	font-variant:		normal;
	font-family:		"Bitstream Vera Sans Mono";
	font-style:			normal;
	font-weight:		medium;
	text-align:			left
	background:			black;
	}

TABLE, TD, TH,
TH, TH P, TH DIV, TH H1, TH H2, TH H3, TH H4, TH H5, TH H6, TD PRE
TD, TD P, TD DIV, TD H1, TD H2, TD H3, TD H4, TD H5, TD H6, TD PRE
	{
	margin-left:		0.05cm;
	margin-right:		0.05cm;
	margin-top:			0.05cm;
	margin-bottom:		0.05cm;
	padding-left:		0.05cm;
	padding-right:		0.05cm;
	padding-top:		0.05cm;
	padding-bottom:		0.05cm;
	}

TABLE, TD, TH
	{
	border:				0.5pt solid ;
	border-color:		MidnightBlue;
	}

TH, TH P, TH DIV, TH H1, TH H2, TH H3, TH H4, TH H5, TH H6, TD PRE
	{
	text-align:			center;
	}

TD, TD P, TD DIV, TD H1, TD H2, TD H3, TD H4, TD H5, TD H6, TD PRE
	{
	color:				black;
	text-align:			justify;
	page-break-before:	auto;
	page-break-after:	auto;
	}

P.listenelement
	{
	margin-top: 0.05cm;
	margin-bottom: 0.05cm
	padding-top: 0.05cm;
	padding-bottom: 0.05cm
	}

OL.listenelement
	{
	counter-reset: ol_counter
	}

LI.listenelement:before
	{
	counter-increment: ol_counter;
	content: counters(ol_counter, ".")
	}

P.english					{ font-style: italic}
P.pageheader				{ background: gray84; font-size: 9pt}
P.pagefooter				{ background: gray84; font-size: 9pt}
P.foodnote					{ margin-left: 0.50cm; text-indent: -0.50cm; font-size: 9pt}
P.initialen:first-letter	{ float: left; font-size: 300%; font-family: "bitstream vera serif" }
P.listenelement				{ margin-top: 0.1cm; margin-bottom: 0.1cm}
P.sdfootnote				{ margin-left: 0.5cm; text-indent: -0.5cm; margin-top: 0cm; margin-bottom: 0cm; background: transparent;  font-size: 9pt; text-align: left;}

		P.ll-lebenslauf-western { margin-top: 0.2cm; margin-bottom: 0.2cm; font-family: "Times", serif; font-size: 12pt; font-style: normal; font-weight: medium }
		P.ll-daten-western { margin-top: 0.2cm; margin-bottom: 0.2cm; font-family: "Times", serif; font-size: 12pt; font-style: normal; font-weight: medium }
		P.ll-fusszeile-western { font-family: "Helvetica", sans-serif; font-size: 9pt; font-style: normal; font-weight: medium; text-align: center }
		P.ll-kopfzeile-western { font-family: "Helvetica", sans-serif; font-size: 16pt; font-style: normal; font-weight: medium; text-align: center }
		P.ll-zeitraum-western { margin-top: 0.2cm; margin-bottom: 0.2cm; font-family: "Times", serif; font-size: 12pt; font-style: normal; font-weight: medium; text-align: left }
		P.ll-abschnitt-western { margin-top: 0.2cm; margin-bottom: 0.2cm; font-family: "Times", serif; font-size: 12pt; font-style: normal; font-weight: medium; text-align: left }

P.ll-name					{ margin-top: 0.2cm; margin-bottom: 0.2cm; font-family: "Times", serif; font-size: 12pt;}
P.ll-lebenslauf				{ margin-top: 0.2cm; margin-bottom: 0.2cm; font-family: "Times", serif; font-size: 12pt;}
P.ll-daten					{ margin-top: 0.2cm; margin-bottom: 0.2cm; font-family: "Times", serif; font-size: 12pt;}
P.ll-fusszeile				{ font-family: "Helvetica", sans-serif; font-size: 9pt; text-align: center; }
P.ll-kopfzeile				{ font-family: "Helvetica", sans-serif; font-size: 16pt; text-align: center; }
P.ll-zeitraum				{ margin-top: 0.2cm; margin-bottom: 0.2cm; text-align: left; font-family: "Times", serif; font-size: 12pt;}
P.ll-abschnitt				{ margin-top: 0.2cm; margin-bottom: 0.2cm; text-align: left; font-family: "Times", serif; font-size: 12pt;}
DFN.ll-firmen-name			{ color: black; font-style: normal; font-weight: medium; text-decoration: underline }
EM.ll-lebenslauf			{ color: black; font-weight: medium }
EM.ll-english               { color: black; so-language: en-GB; font-style: normal; font-weight: medium }
STRONG.ll-stark-betont		{ color: black; text-decoration: none }
A.ll-link:link				{ color: black; font-weight: medium }
A.ll-besucht:visited		{ color: black; font-weight: medium }

H1							{ font-size: 20pt}
H2							{ font-size: 18pt}
H3							{ font-size: 16pt}
H4							{ font-size: 14pt}
H5							{ font-size: 12pt}
H6							{ font-size: 10pt}
TH P, DT					{ color: tomato}
TH P						{ font-size: 14pt}
DT							{ font-size: 10pt}
DD							{ color: black; }

SUP.foodnote				{ color: tomato}
ADDRESS						{ color: DarkTurquoise; font-size: 10pt; }
BLOCKQUOTE					{ color: black; font-size: 10pt; }


CITE						{ color: LimeGreen;}
CITE.english				{ font-style: italic }
CITE.package				{ so-language: ; }
VAR							{ color: RoyalBlue;}
VAR.english					{ font-style: italic }
VAR.command					{ so-language: ; }
DFN							{ color: DarkOrchid;}
DFN.english					{ font-style: italic }
EM							{ color: RoyalBlue; font-weight: medium }
EM.english					{ font-style: italic }
EM.klammer					{ font-variant: normal; font-size: 9pt; font-style: normal }
EM.comment					{ color: SlateGray; }
STRONG						{ color: tomato; text-decoration: underline }
STRONG.english				{ font-style: italic }
CODE						{ color: RoyalBlue;}
CODE.function				{ so-language: ;}

PRE							{ color: DarkOrchid;	font-size: 9pt; border: 0.5pt; }
PRE.Example					{ color: DarkTurquoise;	font-size: 9pt; border: 0.5pt; }
PRE.border					{ background: cornsilk; border: 1.00pt solid black; padding: 0.1cm; }
LISTING						{ color: RoyalBlue;		font-size: 9pt; border: 0.5pt; }
XMP							{ color: DarkTurquoise;	font-size: 9pt; border: 0.5pt; }
KBD							{ color: LimeGreen;		font-size: 10pt; border: 0.5pt; }
SAMP						{ color: DarkOrchid;	font-size: 10pt; border: 0.5pt; }
TT							{ color: LimeGreen;		font-size: 10pt; border: 0.5pt; }

H1.maintitle				{ color: SlateBlue;	background: BlanchedAlmond; border:	0.5pt solid; padding: 0.1cm}
H2.title					{ color: SlateBlue;	background: OldLace; border:	0.5pt solid; padding: 0.1cm}
H3.subtitle					{ color: SlateBlue;	background: FloralWhite; border:	0.5pt solid; padding: 0.1cm}
H4.minortitle				{ color: SlateBlue;	background: snow; border:	0.5pt solid; padding: 0.1cm}
STRONG.keyword				{ color: CadetBlue;	text-decoration: none; so-language: ;}
STRONG.attribute			{ color: IndianRed;	text-decoration: none; so-language: ;}
STRONG.type					{ color: LimeGreen; so-language: ;}
SPAN.definition				{ color: DarkOrchid;}
SPAN.definition				{ color: Orchid;}
EM.comment					{ color: SlateGray;	text-decoration: none;}
SPAN.comment				{ color: LightSlateGray;}
SPAN.literal				{ color: purple;}
TABLE.title					{ background-color: FloralWhite;}
TABLE.footer				{ background-color: BlanchedAlmond;}
TD.type						{ background-color: OldLace; so-language: ;}
TD.odd						{ background-color: snow;}
TD.even						{ background-color: OldLace;}
TD.code						{ background-color: cornsilk;}
UL.index					{ list-style: none }

A:link						{ color: firebrick;		text-decoration: none; }
A:visited					{ color: DarkSalmon;	text-decoration: none; }
A:hover						{ color: chocolate;		text-decoration: none; }
A.sdfootnoteanc				{ font-size: 57% }

.Clr0						{ background: FloralWhite; }
.Clr1						{ background: OldLace; }
.Clr2						{ background: snow; }
.Clr3						{ background: cornsilk; }
.Clr4						{ background: linen; }
.Clr5						{ background: bisque; }
.Comm						{ background: ivory; font-style: italic}
.fusszeile-links			{ background: transparent; color: black; text-align: left; }
.fusszeile-mitte			{ background: transparent; color: black; text-align: center; }
.fusszeile-rechts			{ background: transparent; color: black; text-align: right; }
.kopfzeile-links			{ background: transparent; color: black; text-align: left; }
.kopfzeile-mitte			{ background: transparent; color: black; text-align: center; }
.kopfzeile-rechts			{ background: transparent; color: black; text-align: right; }
.border						{ background: MediumAquamarine ; color: black; text-align: center }
.navigate					{ background: OldLace; margin-top: 0cm; margin-bottom: 0cm; font-size: 10pt;}
.hide						{ background: MediumAquamarine; color: MediumAquamarine}


