<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
    "http://www.w3.org/TR/html40/loose.dtd">
<html><head>
  <title>$WikiTitle | $Group / $Title</title>
  <link rel='stylesheet' href='$SkinDirUrl/print.css' type='text/css' />
  <!--HeaderText-->
</head>
<body>
  <div id='printhead'>
    <div class='pagename'><a href='$ScriptUrl/$Group'>$Group: $Name</a></div>
  </div>
<!--PageText-->
  <div id='printfoot'>
    <div class='lastmod'>$[Page last modified on $LastModified]</div></div>
</body>
</html>
