body {
	font: x-small sans-serif;
	background: #f9f9f9 url("headbg.jpg") 0px 0px no-repeat;
	color: black;
	margin: 0;
	padding: 0;
}
#globalwrapper { /* scale back up to a sane default */
	font-size: 127%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#content {
	margin: 0 0 0.6em 12.2em;
	padding: 0;
	float: none;
	height: 1%; /* workaround for various ie float bugs */
}

#contentbody {
	padding: 0em 1em 1.5em 1em;
	background: white;
	border: 1px solid #aaaaaa;
	border-right: none;
	border-top: none;
	line-height: 1.5em;
	position: relative;
	margin-right: 0;
	height: 1%; /* workaround for various ie float bugs */
}

#header {
	margin: 1.3em 0 0 0;
	border-bottom: 1px solid #aaaaaa;
}

#tabs {
	width: 100%;
	/*border: 1px solid #aaaaaa;*/
}

#tabs ul {
	padding: 2px 0; 
	padding-left: 1em;
	margin-left: 0; 
	border-bottom: 1px solid #aaaaaa; 
	font: normal 12px sans-serif; 
}
#tabs ul li {
	list-style: none;
	margin: 0; 
	display: inline; 
}
#tabs ul li * {
	padding: 2px 0.5em;
	margin-left: 3px;
	border: 1px solid #aaaaaa;
	border-bottom: none;
	background: white;
	text-decoration: none;
	color: #002bb8;
	display: inline;
}
#tabs ul li p {
	color: black;
}
#tabs ul li a:link:hover,
#tabs ul li a:visited:hover {
	border-bottom: 1px solid white;
}
#tabs ul li *#active {
	border-color: #fabd23;
	border-bottom: 1px solid white;
}

#pageleft {
	position: absolute;
	left: 0;
	top: 0;
	width: 11.6em;
}

#pagelogo {
	position:absolute;
	top: 0;
	left: 0;
	height: 155px;
	width: 12em;
	overflow: visible;
}
#pagelogo a,
#pagelogo a:hover {
	display: block;
	height: 155px;
	width: 12.2em;
	background-repeat: no-repeat;
	background-position: 50% 50% !important;
	text-decoration: none;
}

#pageleftcontent {
	padding-top: 160px;
	width: 11.6em;
	overflow: hidden;
}

.pageleftbody {
	margin: 0.6em 0;
	font-size: 95%;
	background: white;
	border-collapse: collapse;
	border: 1px solid #aaaaaa;
	border-left: none;
	padding: 0 0.8em 0.3em 0.5em;
}
.pageleftbody h1,
.pageleftbody h2,
.pageleftbody h3,
.pageleftbody h4 {
	margin: 0;
	padding: 0;
	font-size: 1.2em;
}
.pageleftbody ul {
	line-height: 1.5em;
	list-style-type: square;
	list-style-image: url("bullet.gif");
	font-size: 95%;
}
.pageleftbody li {
	padding: 0;
	margin: 0;
}
.pageleftbody input { font-size: 95%; }

#sidesearch form {
	margin: 0;
	line-height: 1.5em;
}
#sidesearch input.searchbox { width: 8.5em; }

#rightbody {
	padding-top: 1em;
	float: right;
}

#print {
	padding-top: 0.1em;
	padding-bottom: 3px;
	text-align: right;
	font-size: 90%;
}
#print a:hover {
	border: 1px dotted #aaaaaa;
	text-decoration: none;
}
#print a {
	padding: 1px;
	padding-right: 2px;
	border: 1px solid white;
}
#print img {
	border: 0;
	margin: 0;
	vertical-align: middle;
}

#rightbar {
	/* width: 17em; */
	margin: 0.3em 0 0.25em 0.5em;
	padding: 0.2em 0.5em;

	border: 1px solid #ffad80;
	background-color: #fff7cb;
	font-size: 90%;
	line-height: 1.2em;
}
#rightbar ul {
	list-style-type: square;
	list-style-image: url("required.gif");
}
#rightbar li {
	line-height: 1.2em;
}
.rb-none   { width: 0;
	         visibility: hidden; }
.rb-narrow { width: 12em; }
.rb-normal { width: 17em; }
.rb-wide   { width: 22em; }

#footer {
	background-color: white;
	border: 1px solid #fabd23;
	border-right: none;
	margin: 0.6em 0em 1em 0em;
	padding: 0.4em 0em;
	font-size: 90%;
	position: relative;
	height: 1%; /* workaround for various ie float bugs */
	text-align: center;
}
#footer ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#footer li {
	display: inline;
	margin: 0 1.3em;
}
#footer .navbox a {
	padding: 0 3px;
	border: 1px dotted #002bb8;
}
#footer .navbox a:hover {
	text-decoration: none;
	border: 1px solid #002bb8;
}
#footer .navbox a:visited,
#footer .navbox a:active { color: #002bb8; }

.titlepage {
	/*width: 100%;*/
	margin-bottom: 0.1em;
	clear: none;
}

a {
	text-decoration: none;
	color: #002bb8;
	background: none;
}
a:visited { color: #5a3696; }
a:active { color: #ffa500; }
a:hover { text-decoration: underline; }

hr {
	height: 1px;
	color: #aaaaaa;
	background-color: #aaaaaa;
	border: 0;
	margin: 0.2em 0 0.2em 0;
}

h1, h2, h3, h4, h5, h6 {
	color: black;
	background: none;
	font-weight: normal;
	margin: 0;
	padding-top: 0.5em;
	padding-bottom: 0.17em;
	border-bottom: 1px solid #aaaaaa;
}
h1 { font-size: 188%; clear:both; }
h2 { font-size: 150%; clear:both; }
h3, h4, h5, h6 {
	border-bottom: none;
	font-weight: bold;
}
h3 { font-size: 132%; }
h4 { font-size: 116%; }
h5 { font-size: 100%; }
h6 { font-size: 80%;  }

ul {
	line-height: 1.5em;
	list-style-type: square;
	margin: 0.3em 0 0 1.5em;
	padding: 0;
	list-style-image: url("bullet.gif");
}
ol {
	line-height: 1.5em;
	margin: 0.3em 0 0 3.2em;
	padding:0;
	list-style-image: none;
}
li { margin-bottom: 0.1em; }
dt {
	font-weight: bold;
	margin-bottom: 0.1em;
}
dl {
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}
dd {
	line-height: 1.5em;
	margin-left: 2em;
	margin-bottom: 0.1em;
}
code { background-color: #f9f9f9; }
pre {
	padding: 1em;
	color: black;
	background-color: #f9f9f9;
	line-height: 1.1em;
}

a.urllink {
	background: url(external.png) center right no-repeat;
	padding-right: 13px;
}
a.attachlink {
	background: url(attachment.png) center right no-repeat;
	padding-right: 9px;
}
a.createlinktext {
	color: red;
	border-bottom: none;
}
a.createlinkupload {
	background: url(attachnew.png) center right no-repeat;
	color: red;
	padding-right: 9px;
}

.wikitrail {
	display: block;
	text-align: right;
	font-size: 90%;
}

#wikitext {
	position: relative;
}
#wikitext form, #wikitext input {
	font: normal 11px tahoma, geneva, arial, helvetica, sans-serif;
}

#wikiedit {
	position: relative;
	height: 1%; /* workaround for various ie float bugs */
}
#wikiedit textarea {
	margin-top: 0.5em;
	padding: 0;
	width: 100%;
}
